// Variables
$key-gap: 0.25rem;
$key-base-size: 4rem;
$key-radius-top: 0.3125rem;
$key-radius-bottom: 0.5rem;
$key-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5);

// Functions
@function calcDim($baseMult: 1) {
	$result: ($key-base-size * $baseMult) + ($key-gap * ($baseMult - 1));
	@return $result;
}
@function keyTopGradient($baseColor: $primary, $rounded: false) {
	@if $rounded == false {
		@return (linear-gradient(90deg, darken($baseColor, 4) 0%, $baseColor 20%, $baseColor 80%, darken($baseColor, 4)));
	} @else {
		@return (linear-gradient(180deg, lighten($baseColor, 2), $baseColor, darken($baseColor, 5)));
	}
}
@mixin keyStyles($baseColor: $neutral) {
	background: keyTopGradient($baseColor);
	border-radius: $key-radius-top $key-radius-top $key-radius-bottom $key-radius-bottom;
	border-top: 0.15rem solid darken($baseColor, 10);
	border-right: 0.35rem solid darken($baseColor, 8);
	border-left: 0.35rem solid darken($baseColor, 8);
	border-bottom: 0.6rem solid desaturate(darken($baseColor, 13), 10);
	box-shadow: $key-shadow, inset -1px -1px 5px 0 lighten($baseColor, 1);
}

// Resets
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
input {
	color: lighten($secondary, 40);
	font-size: 6rem;
	margin-bottom: 1rem;
	border: none;
	background-color: transparent;
	width: min-content;
}
button {
	font-family: "Baloo 2", cursive;
}

// Blocks
.container {
	background: $bg;
	font-family: "Baloo 2", cursive;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: visible;
}
.keyboard {
	// background-color: $case-body;
	display: flex;
	position: relative;
	border-radius: 0.5rem;
	border-top: 0.75rem solid lighten($secondary, 10);
	border-right: 0.75rem solid lighten($secondary, 5);
	border-left: 0.75rem solid lighten($secondary, 5);
	border-bottom: 0.75rem solid darken($secondary, 7);
	&::before {
		content: "";
		position: absolute;
		bottom: -1.5rem;
		left: -0.75rem;
		width: calc(100% + (1.5rem));
		height: 2rem;
		z-index: -1;
		background-color: darken($color: $secondary, $amount: 20);
		border-bottom-left-radius: 1.2rem;
		border-bottom-right-radius: 1.2rem;
		box-shadow: $case-shadow;
	}
	&__section {
		display: flex;
		flex-direction: column;
		// margin-right: $key-gap;
		background-color: $case-body-background;
		border-radius: $key-radius-bottom;
		padding: 0.25rem $key-gap 0 0.25rem;
		&:last-child {
			padding-left: 0;
			// padding-right: 0;
		}
		&:first-child {
			padding-right: 0;
		}
		&--vertical {
			flex-direction: row;
		}

		&--backlight-active {
			animation: backlight 3s ease infinite;
		}
	}
	&__row {
		display: flex;
		width: min-content;
		margin-bottom: $key-gap;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		&--vertical {
			flex-direction: column;
			margin-right: $key-gap;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__corner {
		width: 0.25rem;
		height: 1rem;
		background: $case-body-background;
		position: absolute;
		&--tl {
			top: 2px;
			left: 0px;
			transform: rotate(-225deg);
			transform-origin: 50% 0%;
		}
		&--tr {
			top: 2px;
			right: 0px;
			transform: rotate(-135deg);
			transform-origin: 50% 0%;
		}
		&--bl {
			bottom: 2px;
			left: 0px;
			transform: rotate(-135deg);
			transform-origin: 50% 100%;
		}
		&--br {
			bottom: 2px;
			right: 0px;
			transform: rotate(135deg);
			transform-origin: 50% 100%;
		}
	}
}
.key {
	position: relative;
	width: $key-base-size;
	height: $key-base-size;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin-right: $key-gap;
	padding: 0.15rem 0.5rem;
	color: $key-neutral-text;
	font-size: 0.7rem;
	font-weight: 500;
	user-select: none;
	@include keyStyles();

	&:last-child {
		margin-right: 0;
	}
	&--primary {
		color: $key-primary-text;
		@include keyStyles($primary);
	}
	&--secondary {
		color: $key-secondary-text;
		@include keyStyles($secondary);
	}
	&--2 {
		width: calcDim(1.25);
	}
	&--3 {
		width: calcDim(1.5);
	}
	&--4 {
		width: calcDim(1.75);
	}
	&--5 {
		width: calcDim(2);
	}
	&--6 {
		width: calcDim(2.25);
	}
	&--7 {
		width: calcDim(6.25);
	}
	&--vert {
		margin-bottom: $key-gap;
		margin-right: 0;
		&:last-child {
			margin-bottom: 0;
		}
		&.key--5 {
			width: $key-base-size;
			height: calcDim((2));
		}
	}
	&--pressed {
		transform: translateY(0.2rem);
		transition: transform 0.05s;
	}
	&--convex {
		background: keyTopGradient($primary, true);
	}
}
.options {
	margin-top: 3rem;
	width: 100%;
	&__button {
		width: 100%;
		color: white;
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 2rem;
		text-align: center;
		cursor: pointer;
		transition: height 0.4s;
		opacity: 0.6;
	}
	&__panel {
		overflow: hidden;
		width: 100%;
		max-height: 0;
		font-size: 1.5rem;
		color: white;
		background: $bg-options-panel;
		box-shadow: 0 15px 15px 0 rgba(104, 143, 168, 0.05);
		transition: max-height 0.2s ease-out;
	}
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 3rem 0;
	}
	&__backlight {
		margin-right: 2rem;
	}
	&__theme-selector {
		padding: 0.5rem 1rem;
		width: 12rem;
		border: none;
	}
}
.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	overflow: hidden;
	&__element {
		position: absolute;
		&--wave {
			margin-left: -100%;
			width: 200%;
			margin-left: -100%;
			width: 200%;
			top: 0;
			right: 0;
			mix-blend-mode: overlay;
			opacity: 0.04;
			z-index: -100;
			transition: transform 0.3s ease;
		}
		&--blob {
			path {
				filter: drop-shadow(2px 5px 5px darken($secondary, 20));
				filter: drop-shadow(2px 5px 5px darken($secondary, 20));
			}
			&#blob1 {
				left: 0rem;
				top: 0rem;
				fill: lighten($primary, 5);
			}
			&#blob2 {
				right: 0rem;
				top: -5rem;
				fill: $primary;
			}
			&#blob3 {
				right: 15rem;
				bottom: -5rem;
				fill: darken($primary, 10);
			}
		}
		&--leaves {
			max-height: 100%;
			max-width: 100%;
			margin: 2rem;
		}
		&--jungle-circle {
			width: 55rem;
			height: 55rem;
			border-radius: 50%;
			background: linear-gradient(165deg, darken($secondary, 15), darken($secondary, 30));
			box-shadow: inset 20px 20px 10px 0 darken($secondary, 25);
		}
		&--sky-circle {
			width: 45rem;
			height: 45rem;
			border-radius: 50%;
			background: linear-gradient(165deg, desaturate($primary, 20), desaturate(darken($primary, 30), 20));
			box-shadow: 5px 15px 10px 0 darken($secondary, 35);
		}
	}

	&__container {
		&--jungle,
		&--sky {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			object-fit: cover;
		}
	}
}

// Utility Classes
.text-center {
	text-align: center;
}
.text-end {
	text-align: end;
}
.vert-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-lg {
	font-size: 1rem;
	font-weight: 500;
}
.condensed {
	letter-spacing: -1px;
	font-weight: 400;
}
.hidden {
	display: none;
}
.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap; /* added line */
}

// Animations
@keyframes backlight {
	0% {
		background: $bg-backlit-dim;
		box-shadow: 0 0 7px 0 $bg-backlit-dim;
	}
	50% {
		background: $bg-backlit-bright;
		box-shadow: 0 0 10px 4px $bg-backlit-bright;
	}
	100% {
		background: $bg-backlit-dim;
		box-shadow: 0 0 5px 0 $bg-backlit-dim;
	}
}
