// Variables
$primary: #ed9282;
$secondary: #2f5b79;
$neutral: #f0f0f0;

$bg: linear-gradient(165deg, saturate(darken($secondary, 5), 15) 0%, darken($secondary, 20) 100%);
$backlight-color: #ff5100;
$bg-backlit-dim: darken($backlight-color, 5);
$bg-backlit-bright: $backlight-color;
$bg-options-panel: darken($secondary, 15);
$case-body-background: darken($secondary, 20);
$case-shadow: 0 1.5rem 2rem 0rem #172635;
$key-primary-text: $neutral;
$key-secondary-text: $neutral;
$key-neutral-text: $primary;

@import "main";
