* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  color: #a0e2d5;
  font-size: 6rem;
  margin-bottom: 1rem;
  border: none;
  background-color: transparent;
}

input::-webkit-input-placeholder {
  color: #a0e2d5;
}

input:-ms-input-placeholder {
  color: #a0e2d5;
}

input::-ms-input-placeholder {
  color: #a0e2d5;
}

input::placeholder {
  color: #a0e2d5;
}

input:focus {
  outline: none;
}

button {
  font-family: "Baloo 2", cursive;
}

.container {
  background: linear-gradient(165deg, #18846f 0%, #123e35 100%);
  font-family: "Baloo 2", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: visible;
}

.keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 0.5rem;
  border-top: 0.75rem solid #36b39b;
  border-right: 0.75rem solid #30a08a;
  border-left: 0.75rem solid #30a08a;
  border-bottom: 0.75rem solid #227161;
}

.keyboard::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: -0.75rem;
  width: calc(100% + (1.5rem));
  height: 2rem;
  z-index: -1;
  background-color: #123e35;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  -webkit-box-shadow: 0 1.5rem 2rem 0rem #172635;
          box-shadow: 0 1.5rem 2rem 0rem #172635;
}

.keyboard__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0d2a24;
  border-radius: 0.5rem;
  padding: 0.25rem 0.25rem 0 0.25rem;
}

.keyboard__section:last-child {
  padding-left: 0;
}

.keyboard__section:first-child {
  padding-right: 0;
}

.keyboard__section--vertical {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.keyboard__section--backlight-active {
  -webkit-animation: backlight 3s ease infinite;
          animation: backlight 3s ease infinite;
}

.keyboard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-bottom: 0.25rem;
  position: relative;
}

.keyboard__row:last-child {
  margin-bottom: 0;
}

.keyboard__row--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.25rem;
}

.keyboard__row--vertical:last-child {
  margin-right: 0;
}

.keyboard__corner {
  width: 0.25rem;
  height: 1rem;
  background: #0d2a24;
  position: absolute;
}

.keyboard__corner--tl {
  top: 2px;
  left: 0px;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

.keyboard__corner--tr {
  top: 2px;
  right: 0px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

.keyboard__corner--bl {
  bottom: 2px;
  left: 0px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.keyboard__corner--br {
  bottom: 2px;
  right: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.key {
  position: relative;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 0.25rem;
  padding: 0.15rem 0.5rem;
  color: #2a8c79;
  font-size: 0.7rem;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, left top, right top, from(#eeece8), color-stop(20%, #f7f6f4), color-stop(80%, #f7f6f4), to(#eeece8));
  background: linear-gradient(90deg, #eeece8 0%, #f7f6f4 20%, #f7f6f4 80%, #eeece8);
  border-radius: 0.3125rem 0.3125rem 0.5rem 0.5rem;
  border-top: 0.15rem solid #e2ded6;
  border-right: 0.35rem solid #e6e3dc;
  border-left: 0.35rem solid #e6e3dc;
  border-bottom: 0.6rem solid #d7d5d2;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #f9f8f7;
          box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #f9f8f7;
}

.key:last-child {
  margin-right: 0;
}

.key--primary {
  color: #f7f6f4;
  background: -webkit-gradient(linear, left top, right top, from(#f66d3c), color-stop(20%, #f77c50), color-stop(80%, #f77c50), to(#f66d3c));
  background: linear-gradient(90deg, #f66d3c 0%, #f77c50 20%, #f77c50 80%, #f66d3c);
  border-radius: 0.3125rem 0.3125rem 0.5rem 0.5rem;
  border-top: 0.15rem solid #f5571f;
  border-right: 0.35rem solid #f55f29;
  border-left: 0.35rem solid #f55f29;
  border-bottom: 0.6rem solid #e8521d;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #f78055;
          box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #f78055;
}

.key--secondary {
  color: #f7f6f4;
  background: -webkit-gradient(linear, left top, right top, from(#257c6b), color-stop(20%, #2a8c79), color-stop(80%, #2a8c79), to(#257c6b));
  background: linear-gradient(90deg, #257c6b 0%, #2a8c79 20%, #2a8c79 80%, #257c6b);
  border-radius: 0.3125rem 0.3125rem 0.5rem 0.5rem;
  border-top: 0.15rem solid #1e6557;
  border-right: 0.35rem solid #216d5e;
  border-left: 0.35rem solid #216d5e;
  border-bottom: 0.6rem solid #205349;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #2b907c;
          box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #2b907c;
}

.key--2 {
  width: 5.0625rem;
}

.key--3 {
  width: 6.125rem;
}

.key--4 {
  width: 7.1875rem;
}

.key--5 {
  width: 8.25rem;
}

.key--6 {
  width: 9.3125rem;
}

.key--7 {
  width: 26.3125rem;
}

.key--vert {
  margin-bottom: 0.25rem;
  margin-right: 0;
}

.key--vert:last-child {
  margin-bottom: 0;
}

.key--vert.key--5 {
  width: 4rem;
  height: 8.25rem;
}

.key--pressed {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  -webkit-transition: -webkit-transform 0.05s;
  transition: -webkit-transform 0.05s;
  transition: transform 0.05s;
  transition: transform 0.05s, -webkit-transform 0.05s;
}

.key--convex {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7835a), color-stop(#f77c50), to(#f66a38));
  background: linear-gradient(180deg, #f7835a, #f77c50, #f66a38);
}

.options {
  margin-top: 3rem;
  width: 100%;
}

.options__button {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  opacity: 0.6;
}

.options__panel {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  font-size: 1.5rem;
  color: white;
  background: #185146;
  -webkit-box-shadow: 0 15px 15px 0 rgba(104, 143, 168, 0.05);
          box-shadow: 0 15px 15px 0 rgba(104, 143, 168, 0.05);
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.options__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

.options__backlight {
  margin-right: 2rem;
}

.options__theme-selector {
  padding: 0.5rem 1rem;
  width: 12rem;
  border: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
}

.background__element {
  position: absolute;
}

.background__element--wave {
  margin-left: -100%;
  width: 200%;
  margin-left: -100%;
  width: 200%;
  top: 0;
  right: 0;
  mix-blend-mode: overlay;
  opacity: 0.04;
  z-index: -100;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.background__element--blob path {
  -webkit-filter: drop-shadow(2px 5px 5px #123e35);
          filter: drop-shadow(2px 5px 5px #123e35);
  filter: drop-shadow(2px 5px 5px #123e35);
}

.background__element--blob#blob1 {
  left: 0rem;
  top: 0rem;
  fill: #f88e68;
}

.background__element--blob#blob2 {
  right: 0rem;
  top: -5rem;
  fill: #f77c50;
}

.background__element--blob#blob3 {
  right: 15rem;
  bottom: -5rem;
  fill: #f5571f;
}

.background__element--leaves {
  max-height: 100%;
  max-width: 100%;
  margin: 2rem;
}

.background__element--jungle-circle {
  width: 55rem;
  height: 55rem;
  border-radius: 50%;
  background: linear-gradient(165deg, #185146, #071613);
  -webkit-box-shadow: inset 20px 20px 10px 0 #0d2a24;
          box-shadow: inset 20px 20px 10px 0 #0d2a24;
}

.background__element--sky-circle {
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  background: linear-gradient(165deg, #e58562, #953a19);
  -webkit-box-shadow: 5px 15px 10px 0 #010302;
          box-shadow: 5px 15px 10px 0 #010302;
}

.background__container--jungle, .background__container--sky {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.vert-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-lg {
  font-size: 1rem;
  font-weight: 500;
}

.condensed {
  letter-spacing: -1px;
  font-weight: 400;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

@-webkit-keyframes backlight {
  0% {
    background: #00e6b8;
    -webkit-box-shadow: 0 0 7px 0 #00e6b8;
            box-shadow: 0 0 7px 0 #00e6b8;
  }
  50% {
    background: #00ffcc;
    -webkit-box-shadow: 0 0 10px 4px #00ffcc;
            box-shadow: 0 0 10px 4px #00ffcc;
  }
  100% {
    background: #00e6b8;
    -webkit-box-shadow: 0 0 5px 0 #00e6b8;
            box-shadow: 0 0 5px 0 #00e6b8;
  }
}

@keyframes backlight {
  0% {
    background: #00e6b8;
    -webkit-box-shadow: 0 0 7px 0 #00e6b8;
            box-shadow: 0 0 7px 0 #00e6b8;
  }
  50% {
    background: #00ffcc;
    -webkit-box-shadow: 0 0 10px 4px #00ffcc;
            box-shadow: 0 0 10px 4px #00ffcc;
  }
  100% {
    background: #00e6b8;
    -webkit-box-shadow: 0 0 5px 0 #00e6b8;
            box-shadow: 0 0 5px 0 #00e6b8;
  }
}
