// Variables
$primary: #f77c50;
$secondary: #2a8c79;
$neutral: #f7f6f4;

$bg: linear-gradient(165deg, saturate(darken($secondary, 5), 15) 0%, darken($secondary, 20) 100%);
$backlight-color: #00ffcc;
$bg-backlit-dim: darken($backlight-color, 5);
$bg-backlit-bright: $backlight-color;
$bg-options-panel: darken($secondary, 15);
$case-body-background: darken($secondary, 25);
$case-shadow: 0 1.5rem 2rem 0rem #172635;
$key-primary-text: $neutral;
$key-secondary-text: $neutral;
$key-neutral-text: $secondary;

@import "main";
