* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: white;
  opacity: 0.3;
  font-size: 8rem;
  margin-top: -3rem;
  margin-bottom: -2rem;
}

button {
  font-family: "Baloo 2", cursive;
}

.container {
  background: -webkit-gradient(linear, left top, left bottom, from(#688fa8), to(#2c465a));
  background: linear-gradient(180deg, #688fa8 0%, #2c465a 100%);
  font-family: "Baloo 2", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: visible;
}

.keyboard {
  background-color: #335065;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 0.5rem;
  border-top: 0.75rem solid #335065;
  border-right: 0.75rem solid #446c87;
  border-bottom: 0.75rem solid #335065;
  border-left: 0.75rem solid #446c87;
}

.keyboard::before {
  content: "";
  position: absolute;
  bottom: -0.65rem;
  left: 0;
  width: 100%;
  height: 2rem;
  z-index: -1;
  background-color: #223543;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  -webkit-box-shadow: 0 1.5rem 2rem 0rem #172635;
          box-shadow: 0 1.5rem 2rem 0rem #172635;
}

.keyboard__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.3125rem;
  background-color: #192832;
  border-radius: 0.5rem;
  padding: 0.25rem 0.25rem 0.15rem 0.25rem;
}

.keyboard__section:last-child {
  margin-right: 0;
  padding-left: 0;
}

.keyboard__section:first-child {
  padding-right: 0;
}

.keyboard__section--vertical {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.keyboard__section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-bottom: 0.3125rem;
  position: relative;
}

.keyboard__section__row:last-child {
  margin-bottom: 0;
}

.keyboard__section__row--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.3125rem;
}

.keyboard__section__row--vertical:last-child {
  margin-right: 0;
}

.keyboard__section--backlight-active {
  -webkit-animation: backlight 3s ease infinite;
          animation: backlight 3s ease infinite;
}

.keyboard__corner {
  width: 0.25rem;
  height: 1rem;
  background: #192832;
  position: absolute;
}

.keyboard__corner--tl {
  top: 2px;
  left: 0px;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

.keyboard__corner--tr {
  top: 2px;
  right: 0px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

.keyboard__corner--bl {
  bottom: 2px;
  left: 0px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.keyboard__corner--br {
  bottom: 2px;
  right: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.key {
  position: relative;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 0.3125rem;
  padding: 0.15rem 0.5rem;
  color: #3b5e76;
  font-size: 0.7rem;
  font-weight: 400;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5);
          box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5);
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top: 0.15rem solid gainsboro;
  border-right: 0.35rem solid gainsboro;
  border-bottom: 0.6rem solid gainsboro;
  border-left: 0.35rem solid gainsboro;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.key::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.66667rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.key:last-child {
  margin-right: 0;
}

.key--primary {
  background-color: #f28e7b;
  color: #3b5e76;
  border-top: 0.15rem solid #f07e68;
  border-right: 0.35rem solid #f07e68;
  border-bottom: 0.6rem solid #f07e68;
  border-left: 0.35rem solid #f07e68;
}

.key--secondary {
  background-color: #3b5e76;
  color: #f28e7b;
  border-top: 0.15rem solid #2f4b5e;
  border-right: 0.35rem solid #2f4b5e;
  border-bottom: 0.6rem solid #2f4b5e;
  border-left: 0.35rem solid #2f4b5e;
}

.key--2 {
  width: 5.07812rem;
}

.key--3 {
  width: 6.15625rem;
}

.key--4 {
  width: 7.23438rem;
}

.key--5 {
  width: 8.3125rem;
}

.key--6 {
  width: 9.39062rem;
}

.key--7 {
  width: 26.64062rem;
}

.key--vert {
  margin-bottom: 0.3125rem;
  margin-right: 0;
}

.key--vert:last-child {
  margin-bottom: 0;
}

.key--vert--5 {
  width: 4rem;
  height: 8.3125rem;
}

.key--pressed {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.options {
  margin-top: 2rem;
  width: 100%;
}

.options__button {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}

.options__panel {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  font-size: 1.5rem;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.1) 100%);
  -webkit-box-shadow: 0 15px 15px 0 rgba(104, 143, 168, 0.05);
          box-shadow: 0 15px 15px 0 rgba(104, 143, 168, 0.05);
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.options__panel__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

.options__panel__wrapper__backlight {
  margin-right: 2rem;
}

.options__panel__wrapper__theme-selector {
  padding: 0.5rem 1rem;
  width: 12rem;
  border: none;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.vert-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-lg {
  font-size: 1rem;
  font-weight: 500;
}

.condensed {
  letter-spacing: -1px;
  font-weight: 400;
}

@-webkit-keyframes backlight {
  0% {
    background: #7a0000;
    -webkit-box-shadow: 0 0 7px 0 #7a0000;
            box-shadow: 0 0 7px 0 #7a0000;
  }
  50% {
    background: #e60000;
    -webkit-box-shadow: 0 0 15px 2px red;
            box-shadow: 0 0 15px 2px red;
  }
  100% {
    background: #7a0000;
    -webkit-box-shadow: 0 0 5px 0 #7a0000;
            box-shadow: 0 0 5px 0 #7a0000;
  }
}

@keyframes backlight {
  0% {
    background: #7a0000;
    -webkit-box-shadow: 0 0 7px 0 #7a0000;
            box-shadow: 0 0 7px 0 #7a0000;
  }
  50% {
    background: #e60000;
    -webkit-box-shadow: 0 0 15px 2px red;
            box-shadow: 0 0 15px 2px red;
  }
  100% {
    background: #7a0000;
    -webkit-box-shadow: 0 0 5px 0 #7a0000;
            box-shadow: 0 0 5px 0 #7a0000;
  }
}
