* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#688fa8), to(#2c465a));
  background: linear-gradient(180deg, #688fa8 0%, #2c465a 100%);
  font-family: "Roboto", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

.keyboard {
  padding: 1rem;
  background-color: #406173;
  -webkit-box-shadow: 0 2rem 2rem 0rem #172635;
          box-shadow: 0 2rem 2rem 0rem #172635;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.keyboard__section {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.3125rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

.keyboard__section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.keyboard__section__row--lg {
  -ms-grid-columns: (1fr)[15];
      grid-template-columns: repeat(15, 1fr);
}

.keyboard__section__row--sm {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.key {
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
  background-color: #f5f6f6;
  color: #3d5f76;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-right: 0.3125rem;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5);
          box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5);
}

.key:last-child {
  margin-right: 0;
}

.key--2 {
  width: 3.82812rem;
}

.key--3 {
  width: 4.65625rem;
}

.key--4 {
  width: 5.48438rem;
}

.key--5 {
  width: 6.3125rem;
}

.key--6 {
  width: 7.14062rem;
}

.key--7 {
  width: 20.39062rem;
}
