// Variables
$primary: #f28e7b;
$primary-shadow: darken(
	$color: $primary,
	$amount: 4
);
$secondary: #3b5e76;
$secondary-shadow: darken(
	$color: $secondary,
	$amount: 7
);
$neutral: #f3f3f3;
$neutral-shadow: darken(
	$color: $neutral,
	$amount: 9
);
$bg: linear-gradient(180deg, #688fa8 0%, #2c465a 100%);
$case-body: darken($secondary, 5);
$case-body-horizontal: darken($secondary, 5);
$case-body-vertical: lighten($secondary, 5);
$case-body-background: darken($secondary, 20);
$case-shadow: 0 1.5rem 2rem 0rem #172635;
$key-gap: 0.3125rem;
$key-base: 4rem;
$key-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5);
$key-radius-top: 0.3125rem;
$key-radius-bottom: 0.5rem;

// Functions
@function calcDim($baseMult: 1) {
	$result: ($key-base * $baseMult) + ($key-gap * ($baseMult - 1));
	@return $result;
}
@function calcShadow() {
	$result: ($key-base / 6);
	@return $result;
}

// Resets
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	color: white;
	opacity: 0.3;
	font-size: 8rem;
	margin-top: -3rem;
	margin-bottom: -2rem;
}

button {
	font-family: "Baloo 2", cursive;
}

// Blocks
.container {
	background: $bg;
	font-family: "Baloo 2", cursive;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: visible;
}
.keyboard {
	background-color: $case-body;
	display: flex;
	position: relative;
	border-radius: 0.5rem;
	border-top: 0.75rem solid $case-body-horizontal;
	border-right: 0.75rem solid $case-body-vertical;
	border-bottom: 0.75rem solid $case-body-horizontal;
	border-left: 0.75rem solid $case-body-vertical;

	&::before {
		content: "";
		position: absolute;
		bottom: -0.65rem;
		left: 0;
		width: 100%;
		height: 2rem;
		z-index: -1;
		background-color: darken($color: $case-body, $amount: 10);
		border-bottom-left-radius: 1.2rem;
		border-bottom-right-radius: 1.2rem;
		box-shadow: $case-shadow;
	}
	&__section {
		display: flex;
		flex-direction: column;
		margin-right: $key-gap;
		background-color: $case-body-background;
		border-radius: $key-radius-bottom;
		padding: 0.25rem 0.25rem 0.15rem 0.25rem;
		&:last-child {
			margin-right: 0;
			padding-left: 0;
		}
		&:first-child {
			padding-right: 0;
		}
		&--vertical {
			flex-direction: row;
		}
		&__row {
			display: flex;
			width: min-content;
			margin-bottom: $key-gap;
			position: relative;
			&:last-child {
				margin-bottom: 0;
			}
			&--vertical {
				flex-direction: column;
				margin-right: $key-gap;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&__corner {
		width: 0.25rem;
		height: 1rem;
		background: $case-body-background;
		position: absolute;
		&--tl {
			top: 2px;
			left: 0px;
			transform: rotate(-225deg);
			transform-origin: 50% 0%;
		}
		&--tr {
			top: 2px;
			right: 0px;
			transform: rotate(-135deg);
			transform-origin: 50% 0%;
		}
		&--bl {
			bottom: 2px;
			left: 0px;
			transform: rotate(-135deg);
			transform-origin: 50% 100%;
		}
		&--br {
			bottom: 2px;
			right: 0px;
			transform: rotate(135deg);
			transform-origin: 50% 100%;
		}
	}
}
.key {
	position: relative;
	width: $key-base;
	height: $key-base;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin-right: $key-gap;
	padding: 0.15rem 0.5rem;
	color: $secondary;
	font-size: 0.7rem;
	font-weight: 400;
	background-color: $neutral;
	box-shadow: $key-shadow;
	border-top-left-radius: $key-radius-top;
	border-top-right-radius: $key-radius-top;
	border-bottom-left-radius: $key-radius-bottom;
	border-bottom-right-radius: $key-radius-bottom;
	border-top: 0.15rem solid $neutral-shadow;
	border-right: 0.35rem solid $neutral-shadow;
	border-bottom: 0.6rem solid $neutral-shadow;
	border-left: 0.35rem solid $neutral-shadow;
	user-select: none;
	// transition: transform 0.2s ease-out;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calcShadow();
		border-bottom-right-radius: $key-radius-bottom;
		border-bottom-left-radius: $key-radius-bottom;
	}
	&:last-child {
		margin-right: 0;
	}
	&--primary {
		background-color: $primary;
		color: $secondary;
		border-top: 0.15rem solid $primary-shadow;
		border-right: 0.35rem solid $primary-shadow;
		border-bottom: 0.6rem solid $primary-shadow;
		border-left: 0.35rem solid $primary-shadow;
	}
	&--secondary {
		background-color: $secondary;
		color: $primary;
		border-top: 0.15rem solid $secondary-shadow;
		border-right: 0.35rem solid $secondary-shadow;
		border-bottom: 0.6rem solid $secondary-shadow;
		border-left: 0.35rem solid $secondary-shadow;
	}
	&--2 {
		width: calcDim(1.25);
	}
	&--3 {
		width: calcDim(1.5);
	}
	&--4 {
		width: calcDim(1.75);
	}
	&--5 {
		width: calcDim(2);
	}
	&--6 {
		width: calcDim(2.25);
	}
	&--7 {
		width: calcDim(6.25);
	}
	&--vert {
		margin-bottom: $key-gap;
		margin-right: 0;
		&:last-child {
			margin-bottom: 0;
		}
		&--5 {
			width: $key-base;
			height: calcDim((2));
		}
	}
	&--pressed {
		transform: translateY(0.2rem);
		transition: transform 0.1s;
	}
}
.options {
	margin-top: 2rem;
	&__button {
		width: 100%;
		color: white;
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 3rem;
		text-align: center;
		cursor: pointer;
		transition: height 0.4s;
	}
	&__panel {
		color: white;
		font-size: 1.5rem;
		padding: 0 18px;
		display: flex;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		&__rgb {
			margin-right: 2rem;
		}
		&__theme {
			padding: 0 2rem 0 0.5rem;
			width: 10rem;
		}
	}
}

// Utility Classes
.text-center {
	text-align: center;
}
.text-end {
	text-align: end;
}
.vert-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-lg {
	font-size: 1rem;
	font-weight: 500;
}
.condensed {
	letter-spacing: -1px;
	font-weight: 400;
}
