* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  color: #fcfeff;
  font-size: 6rem;
  margin-bottom: 1rem;
  border: none;
  background-color: transparent;
}

input::-webkit-input-placeholder {
  color: #fcfeff;
}

input:-ms-input-placeholder {
  color: #fcfeff;
}

input::-ms-input-placeholder {
  color: #fcfeff;
}

input::placeholder {
  color: #fcfeff;
}

input:focus {
  outline: none;
}

button {
  font-family: "Baloo 2", cursive;
}

.container {
  background: linear-gradient(165deg, #1984c9 0%, #115885 100%);
  font-family: "Baloo 2", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  height: 100vh;
  overflow: visible;
}

.keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 0.5rem;
  border-top: 0.75rem solid #74beee;
  border-right: 0.75rem solid #5eb4eb;
  border-left: 0.75rem solid #5eb4eb;
  border-bottom: 0.75rem solid #279ae4;
}

.keyboard::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: -0.75rem;
  width: calc(100% + (1.5rem));
  height: 2rem;
  z-index: -1;
  background-color: #1675b3;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  -webkit-box-shadow: 0 1.5rem 2rem 0rem #172635;
          box-shadow: 0 1.5rem 2rem 0rem #172635;
}

.keyboard__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #051c2b;
  border-radius: 0.5rem;
  padding: 0.25rem 0.25rem 0 0.25rem;
}

.keyboard__section:last-child {
  padding-left: 0;
}

.keyboard__section:first-child {
  padding-right: 0;
}

.keyboard__section--vertical {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.keyboard__section--backlight-active {
  -webkit-animation: backlight 3s ease infinite;
          animation: backlight 3s ease infinite;
}

.keyboard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-bottom: 0.25rem;
  position: relative;
}

.keyboard__row--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.25rem;
}

.keyboard__row--vertical:last-child {
  margin-right: 0;
}

.keyboard__corner {
  width: 0.25rem;
  height: 1rem;
  background: #051c2b;
  position: absolute;
}

.keyboard__corner--tl {
  top: 2px;
  left: 0px;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

.keyboard__corner--tr {
  top: 2px;
  right: 0px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

.keyboard__corner--bl {
  bottom: 2px;
  left: 0px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.keyboard__corner--br {
  bottom: 2px;
  right: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.keyboard.short .keyboard-long-only {
  display: none;
}

.keyboard.large .keyboard-short-only {
  display: none;
}

.key {
  position: relative;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 0.25rem;
  padding: 0.15rem 0.5rem;
  color: #f57141;
  font-size: 0.7rem;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, left top, right top, from(#eae8e2), color-stop(30%, #f7f6f4), color-stop(60%, #f7f6f4), to(#eeece8));
  background: linear-gradient(90deg, #eae8e2 0%, #f7f6f4 30%, #f7f6f4 60%, #eeece8);
  border-radius: 0.3125rem 0.3125rem 0.5rem 0.5rem;
  border-top: 0.15rem solid #e2ded6;
  border-right: 0.35rem solid #e6e3dc;
  border-left: 0.35rem solid #e6e3dc;
  border-bottom: 0.6rem solid #d7d5d2;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #f9f8f7;
          box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #f9f8f7;
}

.key:last-child {
  margin-right: 0;
}

.key--primary {
  color: #f7f6f4;
  background: -webkit-gradient(linear, left top, right top, from(#f35b24), color-stop(30%, #f57141), color-stop(60%, #f57141), to(#f4632e));
  background: linear-gradient(90deg, #f35b24 0%, #f57141 30%, #f57141 60%, #f4632e);
  border-radius: 0.3125rem 0.3125rem 0.5rem 0.5rem;
  border-top: 0.15rem solid #f24d11;
  border-right: 0.35rem solid #f3541a;
  border-left: 0.35rem solid #f3541a;
  border-bottom: 0.6rem solid #db4c18;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #f57546;
          box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #f57546;
}

.key--secondary {
  color: #f7f6f4;
  background: -webkit-gradient(linear, left top, right top, from(#2c9ce5), color-stop(30%, #47a9e8), color-stop(60%, #47a9e8), to(#35a1e6));
  background: linear-gradient(90deg, #2c9ce5 0%, #47a9e8 30%, #47a9e8 60%, #35a1e6);
  border-radius: 0.3125rem 0.3125rem 0.5rem 0.5rem;
  border-top: 0.15rem solid #1c93e0;
  border-right: 0.35rem solid #2398e3;
  border-left: 0.35rem solid #2398e3;
  border-bottom: 0.6rem solid #2688c7;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #4cabe9;
          box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5), inset -1px -1px 5px 0 #4cabe9;
}

.key--2 {
  width: 5.0625rem;
}

.key--3 {
  width: 6.125rem;
}

.key--4 {
  width: 7.1875rem;
}

.key--5 {
  width: 8.25rem;
}

.key--6 {
  width: 9.3125rem;
}

.key--7 {
  width: 11.4375rem;
  margin-right: 0;
}

.key--8 {
  width: 26.3125rem;
}

.key--vert {
  margin-bottom: 0.25rem;
  margin-right: 0;
}

.key--vert:last-child {
  margin-bottom: 0;
}

.key--vert.key--5 {
  width: 4rem;
  height: 8.25rem;
}

.key--pressed {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  -webkit-transition: -webkit-transform 0.05s;
  transition: -webkit-transform 0.05s;
  transition: transform 0.05s;
  transition: transform 0.05s, -webkit-transform 0.05s;
}

.key--convex {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6784b), color-stop(#f57141), to(#f45f29));
  background: linear-gradient(180deg, #f6784b, #f57141, #f45f29);
}

.options {
  margin-top: 3rem;
  width: 100%;
}

.options__button {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  opacity: 0.6;
}

.options__panel {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  font-size: 1.5rem;
  color: white;
  background: #115885;
  -webkit-box-shadow: 0 15px 15px 0 rgba(104, 143, 168, 0.05);
          box-shadow: 0 15px 15px 0 rgba(104, 143, 168, 0.05);
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.options__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

.options__option {
  margin-right: 2rem;
}

.options__theme-selector {
  padding: 0.5rem 1rem;
  width: 12rem;
  border: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
}

.background__element {
  position: absolute;
}

.background__element--wave {
  margin-left: -100%;
  width: 200%;
  margin-left: -100%;
  width: 200%;
  top: 0;
  right: 0;
  mix-blend-mode: overlay;
  opacity: 0.04;
  z-index: -100;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.background__element--blob path {
  -webkit-filter: drop-shadow(2px 5px 5px #1675b3);
          filter: drop-shadow(2px 5px 5px #1675b3);
  filter: drop-shadow(2px 5px 5px #1675b3);
}

.background__element--blob#blob1 {
  left: 0rem;
  top: 0rem;
  fill: #f68359;
}

.background__element--blob#blob2 {
  right: 0rem;
  top: -5rem;
  fill: #f57141;
}

.background__element--blob#blob3 {
  right: 15rem;
  bottom: -5rem;
  fill: #f24d11;
}

.background__element--leaves {
  max-height: 100%;
  max-width: 100%;
  margin: 2rem;
}

.background__element--jungle-circle {
  width: 55rem;
  height: 55rem;
  border-radius: 50%;
  background: linear-gradient(165deg, #1984c9, #115885);
  -webkit-box-shadow: inset 20px 20px 10px 0 #14679c;
          box-shadow: inset 20px 20px 10px 0 #14679c;
}

.background__element--sky-circle {
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  background: linear-gradient(165deg, #e17a55, #853518);
  -webkit-box-shadow: 5px 15px 10px 0 #0e496f;
          box-shadow: 5px 15px 10px 0 #0e496f;
}

.background__container--jungle, .background__container--sky {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.vert-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-lg {
  font-size: 1rem;
  font-weight: 500;
}

.condensed {
  letter-spacing: -1px;
  font-weight: 400;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.keyboard-short-grow:last-of-type {
  margin-right: 0;
}

@-webkit-keyframes backlight {
  0% {
    background: #acd4f8;
    -webkit-box-shadow: 0 0 7px 0 #acd4f8;
            box-shadow: 0 0 7px 0 #acd4f8;
  }
  50% {
    background: #c4e0fa;
    -webkit-box-shadow: 0 0 10px 4px #c4e0fa;
            box-shadow: 0 0 10px 4px #c4e0fa;
  }
  100% {
    background: #acd4f8;
    -webkit-box-shadow: 0 0 5px 0 #acd4f8;
            box-shadow: 0 0 5px 0 #acd4f8;
  }
}

@keyframes backlight {
  0% {
    background: #acd4f8;
    -webkit-box-shadow: 0 0 7px 0 #acd4f8;
            box-shadow: 0 0 7px 0 #acd4f8;
  }
  50% {
    background: #c4e0fa;
    -webkit-box-shadow: 0 0 10px 4px #c4e0fa;
            box-shadow: 0 0 10px 4px #c4e0fa;
  }
  100% {
    background: #acd4f8;
    -webkit-box-shadow: 0 0 5px 0 #acd4f8;
            box-shadow: 0 0 5px 0 #acd4f8;
  }
}
