// Variables
$primary: #f57141;
$secondary: #47a9e8;
$neutral: #f7f6f4;

$bg: linear-gradient(165deg, (darken($secondary, 15)) 0%, darken($secondary, 30) 100%);
$backlight-color: #c4e0fa;
$bg-backlit-dim: darken($backlight-color, 5);
$bg-backlit-bright: $backlight-color;
$bg-options-panel: darken($secondary, 30);
$case-body-background: darken($secondary, 50);
$case-shadow: 0 1.5rem 2rem 0rem #172635;
$key-primary-text: $neutral;
$key-secondary-text: $neutral;
$key-neutral-text: $primary;

@import "main";
