// Variables
$primary: #f57141;
$secondary: #47aff0;
$neutral: #f7f6f4;

$bg: linear-gradient(165deg, (darken($secondary, 5)) 0%, darken($secondary, 20) 100%);
$bg-backlit-shadow-bright: #e62d2d;
$bg-backlit-bright: #d80000;
$bg-backlit-dim: #7a0000;
// $bg-options-panel: linear-gradient(180deg, darken($secondary, 15) 5%, $secondary 25%, darken($secondary, 10) 100%);
$bg-options-panel: darken($secondary, 30);
$case-body-background: darken($secondary, 50);
$case-shadow: 0 1.5rem 2rem 0rem #172635;
$key-gap: 0.3125rem;
$key-base-size: 4rem;
$key-radius-top: 0.3125rem;
$key-radius-bottom: 0.5rem;
$key-shadow: 0.25rem 0.25rem 1rem 0rem rgba(23, 38, 53, 0.5);
$key-primary-text: $neutral;
$key-secondary-text: $neutral;
$key-neutral-text: $primary;

@import "main";
